<%= render_breadcrumbs :separator => ' / ' %>
<h2><%= @page.title %></h2>
<div class="wiki-links">
  <span><%= link_to edit_wiki_page_path, class: 'glyphicon glyphicon-edit', alt: "Edit page" do %>
  <% end %></span><br /><br />
  <span><%= link_to new_wiki_page_path, class: 'glyphicon glyphicon-file', alt: "New page" do %>
  <% end %></span><br /><br />
</div>
<%= markdown(@page.body) %>
