<br />
<%= form_for wiki, html: { class: "form-horizontal" } do |f| %>
  
  <div class="form-group">
    <% if wiki.title %>
      <%= f.text_field :title, class: "form-control", value: wiki.title %>
    <% else %>
      <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <% end %>
  </div>

  <div class="form-group">
    <% if wiki.description %>
      <%= f.text_area :description, class: "form-control", value: wiki.description, data: {provide: "markdown"}, rows: 10 %>
    <% else %>
      <%= f.text_area :description, class: "form-control", placeholder: "Description", data: {provide: "markdown"}, rows: "3" %>
    <% end %>
  </div>
  <div class="form-group">
    <% if wiki.public %>
      <%= f.check_box :public, checked: true %> Public
    <% else %>
      <%= f.check_box :public %> Public
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary btn-lg' %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>