<%= render_breadcrumbs %>
<h2>Manage collaborators</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Access</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.email %></td>
    <td>Owner</td>
    <td>N/A</td>
  </tr>
  <% @collaborators.each do |c| %>
    <% if c.email.nil? == false %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Access <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Viewer</a></li>
              <li><a href="#">Editor</a></li>
            </ul>
          </div>
        </td>
        <td><span class="glyphicon glyphicon-ban-circle"></span></td>
      </tr>
    <% end %>
  <% end %>
</table>
<div class="js-add-collaborator-form">
  <%= render partial: 'collaborators/add', locals: {wiki: @wiki, collaborator: @collaborator, email: @email} %>
</div>
<%= link_to "Add Collaborator", "#", class: 'js-add-collaborator-link', data: {selector: "js-add-collaborator"} %><br /><br />
<%= button_to "Delete this wiki", @wiki, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-large" %>