<%= render_breadcrumbs %>
<h2>Manage users</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Access</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><%= @owner.name %></td>
    <td><%= @owner.email %></td>
    <td>Owner</td>
    <td>N/A</td>
  </tr>
  <% @collaborators.each do |c| %>
    <% if c.nil? %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              Access <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Viewer</a></li>
              <li><a href="#">Editor</a></li>
            </ul>
          </div>
        </td>
        <td><span class="glyphicon glyphicon-ban-circle"></span></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%= link_to "Add Collaborator", "#", class: 'btn btn-success btn-large' %><br /><br />
<%= button_to "Delete this wiki", @wiki, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-large" %>
<div class="">
  <%= render partial: 'collaborators/add', locals: {wiki: @wiki, collaborator: @collaborator, email: @email} %>
</div>