<%= render_breadcrumbs :separator => ' / ' %>

<h2><%= @wiki.title %></h2>

<div class="wiki-links">
  <span><%= link_to edit_wiki_path, class: 'glyphicon glyphicon-edit', alt: "Edit page" do %>
  <% end %></span><br /><br />
  <span><%= link_to new_wiki_page_path(@wiki), class: 'glyphicon glyphicon-file', alt: "New page" do %>
  <% end %></span><br /><br />
  <span><%= link_to wiki_pages_path(@wiki), class: 'glyphicon glyphicon-list', alt: "List this wikis pages" do %>
  <% end %></span><br /><br />
  <span><%= link_to manage_wiki_path, class: 'glyphicon glyphicon-wrench', alt: "Wiki Settings" do %>
  <% end %></span><br /><br />
</div>
<%= markdown(@wiki.description) %>
